@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
html {
    min-height: 100%;
    background-image: url('./images/bg-pattern-bottom-desktop.svg');
    background-position: bottom right;
    background-size: 600px;
    background-repeat: no-repeat;
}

body {
    background-image: url('./images/bg-pattern-top-desktop.svg');
    background-repeat: no-repeat;
}

main {
    width: 940px;
    padding: auto;
    margin:auto;
    box-sizing: border-box;
}
.parte-de-cima {
    display: flex;
    padding: 50px 5px;
    
}

.titulo-texto {
    display: inline-block;
    text-align: start;
    width: 35%;
    
}

.titulo-texto p {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

h1 {
    font-family:'Spartan', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: hsl(300, 43%, 22%);
}

.caixa-estrela {
    width: 50%;
}

.starbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    height: 100%;
    width: 100%;
    margin-left: 60px;  
}

.card1 {
    background-color: hsl(300, 24%, 96%);
    display: flex;
    margin-left: 10px;
    padding: 10px 70px 10px 10px;
    border-radius: 5px;
    font-family: 'Spartan' sans-serif;
    font-weight: 400;
}

.card2 {
    background-color: hsl(300, 24%, 96%);
    display: flex;
    margin-left: 60px;
    padding: 10px 70px 10px 10px;
    border-radius: 5px;
    font-family: 'Spartan' sans-serif;
    font-weight: 400;
}

.card3 {
    background-color: hsl(300, 24%, 96%);
    display: flex;
    margin-left: 120px;
    padding: 10px 70px 10px 10px;
    border-radius: 5px;
    font-family: 'Spartan' sans-serif;
    font-weight: 400;
}

.imagens-estrela {
    display: flex;
    margin-right: 10px;
}

.caixas {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    height: 300px;
    
}

.caixa1 {
    margin: 10px 10px 0 0; 

}

.caixa2 {
    margin: 20px 10px 0 0;
}

.caixa3 {
    margin:30px 10px 0 0;
}

.caixas li {
    display: inline-block;
    width: 30%;
    height: 200px;
    padding: 20px 34px;
    background-color: hsl(300, 43%, 22%);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Spartan', sans-serif;
    text-align: left;
}

.foto-lado-texto {
    display: flex;
}

.nome-verificado {
    display: flex;
    flex-direction: column;
    margin:10px 0 0 10px;
}

.caixas img {
    border-radius: 50%;
    width: 20%;
}

.caixas h2 {
    font-weight: bold;
    color: white;
}

.verificado {
    color:hsl(333, 80%, 67%);
    margin-bottom: 10px;
}

.conteudo-caixa {
    color: white;
    margin:15px 0 0 0;
    font-size: 12px;
    font-family:'Spartan', sans-serif;
    font-weight: 400;
}

.attribution {
    font-size: 11px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and ()
